<div id="overlay"></div>
<div id="popUp">
  <div id="left-column">
    <div id="exitContainerMobile" onclick="closePopUp()">
      <img src="{{ 'CancelMinor.svg' | asset_url }}" alt="Exit Button" id="exitButtonMobile" width="30" height="30" />
      <img src="{{ 'CancelMinorHover.svg' | asset_url }}" alt="Exit Button" id="exitButtonHoverMobile" width="30" height="30" />
    </div>
    <div id="headerContainer">
      <text id="headerText">Get 10%, 20%, or 30% Off Your First Order</text>
    </div>
    <div id="subheaderContainer">
      <text id="subheaderText">Play a game to discover your discount!</text>
    </div>
    <div id="optOutContainer">
      <text id="optOutText">Or check the box to recieve 10% off now: </text>
      <input type="checkbox" id="optOut" name="optOut" value="false">
    </div>
    <div id="actionButtonContainer">
      <button type="button" onclick="actionButtonPressed()" id="actionButton">Play</button>
    </div>
    <form id="emailForm">
      <label for="email" id="emailEntryLabel">Enter your email to claim:</label>
      <input type="email" id="email" name="email" placeholder="Your email">
      <button type="button" onclick="validateAndProcessEmail()" id="submitButton">Submit</button>
      <text id="emailDenied">This email has already been used</text>
    </form>
    <div id="imageContainer">
      <img src="{{ 'CircleTickOutline.svg' | asset_url }}" alt="Circle Tick" id="circleTick" width="20" height="100" />
    </div>
    <div id="discountPercentageContainer">
      <text id="discountPercentage">20% Off!</text>
    </div>
    <div id="discountContainer">
      <text id="discountText">Redeem code:</text>
    </div>
    <div id="discount-box"> 
      <text id="discountCode"></text>
      <img src="{{ 'ClipboardMinor.svg' | asset_url }}" alt="Clipboard" id="copyButton" onclick="copyTextToClipboard()" width="10" height="75" />
      <img src="{{ 'CircleTickOutline.svg' | asset_url }}" alt="Circle Tick Small" id="circleTickSmall" width="10" height="75" />
    </div>
    <div id="discount-terms">Single use per customer</div>
    <div id="email-terms">By submitting your email you agree to recieve email marketing updates for this store</div>
  </div>
  <div id="right-column">
    <div id="exitContainer" onclick="closePopUp()">
      <img src="{{ 'CancelMinor.svg' | asset_url }}" alt="Exit Button" id="exitButton" width="75" height="75" />
      <img src="{{ 'CancelMinorHover.svg' | asset_url }}" alt="Exit Button" id="exitButtonHover" width="75" height="75" />
    </div>
    <div id="gameContainer">
      <div id="lockContainer">
        <img src="{{ 'LockFilledMajor.svg' | asset_url }}" alt="Lock" id="lock" width="20" height="100" />
      </div>
      <div id="wordGameContainer">
        <img src="{{ 'wordgame.png' | asset_url }}" alt="Word Game" id="wordGameImg" width="auto" height="95"/>
        <div id="board"></div>
        <div id="answer">Guess a word</div>
        <div id="keyboard"></div>
      </div>
      <div id="birdGameContainer">
        <img src="{{ 'birdgamepic.png' | asset_url }}" alt="Bird Game" id="birdGameImg" width="100" height="100"/>
        <canvas id="bird-board" width:"360px" height="450px"></canvas>
        <img src="{{ 'yellowbird-midflap.png' | asset_url }}" alt="Bird" id="birdImg" width="34" height="24" />
        <img src="{{ 'pipe-green-down.png' | asset_url }}" alt="Top Pipe" id="topPipeImg" width="64" height="360" />
        <img src="{{ 'pipe-green.png' | asset_url }}" alt="Bottom Pipe" id="bottomPipeImg" width="64" height="360" />
      </div>
      <div id="statsContainer">
        <p class="title">Your Stats</p>
        <p id="statsSubtitle">michaelglum47@gmail.com</p>
        <div class="stats-column-container">
          <div class="column">
            <p>Score:</p>
            <p id="score">4</p>
          </div>
          <div class="column">
            <p>Avg:</p>
            <p id="avg">3</p>
          </div>
          <div class="column">
            <p>Best:</p>
            <p id="best">2</p>
          </div>
        </div>
        <p class="footer">Powered by PopGames</p>
      </div>
    </div>
  </div>
</div>

<style>
  .visually-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal!important;
  }
  
  @-webkit-keyframes rainbow {
    0% {border-color: hsl(0, 100%, 50%);}
    14% {border-color: hsl(30,100%,50%);}
    28% {border-color: hsl(60,100%,50%);}
    42% {border-color: hsl(120,100%,50%);}
    56% {border-color:  hsl(240,100%,50%);}
    70% {border-color: hsl(280,100%,50%);}
    84% {border-color: hsl(320,100%,50%);}
    100% {border-color: hsl(255, 100%, 50%);}
  }

  @media (max-width: 768px) {
    #popUp {
      flex-direction: column;
    }

    #right-column {
      display: none;
      width: 350px;
    }

    #left-column {
      height: 500px; 
      width: 350px;
      padding: 0px 0px 30x 0px;
      position: relative;
    }

    #exitContainerMobile {
      display: flex;
    }

    #discountContainer {
      margin-left: 1%;
    }

    #discount-box {
      width: 200px;
      margin-left: 22%;
    }

    #discount-terms {
      margin-left: 22%;
    }

    #email-terms {
      margin-left: 0%;
    }

    #wordGameContainer {
      display: none;
    }

    #birdGameContainer {
      width: 350px;
    }

    #wordGameImg {
      display: none;
    }

    #lockContainer {
      display: none;
    }

  }

  canvas:empty {
    display: initial;
  }
</style>

{% schema %}
{
  "name": "Pop-up Game",
  "target": "body",
  "stylesheet": "pop-up.css",
  "javascript": "pop-up.js",
  "settings": []
}
{% endschema %}