<div id="pg-overlay"></div>
<div id="pg-popUp" data-delay="{{ block.settings.pg_popup_delay }}"
    {% unless block.settings.enable_rainbow_animation %}
      style="border-color: {{ block.settings.pg_border_color }} !important;"
    {% endunless %}
>
  <div id="pg-left-column" style="background-color: {{ block.settings.pg_background_color }} !important;">
    <div id="pg-exitContainerMobile" onclick="closePopUp()">
      <img src="{{ 'CancelMinor.svg' | asset_url }}" alt="Exit Button" id="pg-exitButtonMobile" width="30" height="30" />
      <img src="{{ 'CancelMinorHover.svg' | asset_url }}" alt="Exit Button" id="pg-exitButtonHoverMobile" width="30" height="30" />
    </div>
    <div id="pg-headerContainer">
      <text id="pg-headerText" style="color: {{ block.settings.pg_primary_text_color }} !important;">Get 10%, 20%, or 30% Off Your First Order</text>
    </div>
    <div id="pg-subheaderContainer">
      <text id="pg-subheaderText" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Play a game to discover your discount!</text>
    </div>
    <div id="pg-optOutContainer">
      <text id="pg-optOutText" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Or check the box to recieve 10% off now:&nbsp;</text>
      <input type="checkbox" id="pg-optOut" name="optOut" value="false">
    </div>
    <div id="pg-actionButtonContainer">
      <button type="button" onclick="actionButtonPressed()" id="pg-actionButton" style="background-color: {{ block.settings.pg_button_color }} !important; color: {{ block.settings.button_text_color }} !important;">Play</button>
      <button type="button" onclick="actionButtonPressed()" id="pg-imageButton" data-show="{{ block.settings.show_special_mobile_buttons }} !important"></button>
    </div>
    <form id="pg-emailForm">
      <label for="email" id="pg-emailEntryLabel" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Enter your email to claim:</label>
      <input type="email" id="pg-email" name="email" placeholder="Your email">
      <button type="button" onclick="validateAndProcessEmail()" id="pg-submitButton" style="background-color: {{ block.settings.pg_button_color }} !important; color: {{ block.settings.button_text_color }} !important;">Submit</button>
      <text id="pg-emailDenied">This email has already been used</text>
    </form>
    <div id="pg-imageContainer">
      <img src="{{ 'CircleTickOutline.svg' | asset_url }}" alt="Circle Tick" id="pg-circleTick" width="20" height="100" />
    </div>
    <div id="pg-discountPercentageContainer">
      <text id="pg-discountPercentage" style="color: {{ block.settings.pg_primary_text_color }} !important;">20% Off!</text>
    </div>
    <div id="pg-discountContainer" style="color: {{ block.settings.pg_secondary_text_color }} !important;">
      <text id="pg-discountText" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Redeem code:</text>
    </div>
    <div id="pg-discount-box" 
        {% unless block.settings.pg_use_default_discount_box %}
          style="background: {{ block.settings.pg_discount_box_color }} !important;"
        {% endunless %}
    > 
      <text id="pg-discountCode" style="color: {{ block.settings.pg_primary_text_color }} !important;"></text>
      <img src="{{ 'ClipboardMinor.svg' | asset_url }}" alt="Clipboard" id="pg-copyButton" onclick="copyTextToClipboard()" width="10" height="75" />
      <img src="{{ 'CircleTickOutline.svg' | asset_url }}" alt="Circle Tick Small" id="pg-circleTickSmall" width="10" height="75" />
    </div>
    <div id="pg-discount-terms" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Single use per customer</div>
    <div id="pg-email-terms" style="color: {{ block.settings.pg_secondary_text_color }} !important;">By submitting your email you agree to recieve email marketing updates for this store</div>
  </div>
  <div id="pg-right-column">
    <div id="pg-exitContainer" onclick="closePopUp()">
      <img src="{{ 'CancelMinor.svg' | asset_url }}" alt="Exit Button" id="pg-exitButton" width="75" height="75" />
      <img src="{{ 'CancelMinorHover.svg' | asset_url }}" alt="Exit Button" id="pg-exitButtonHover" width="75" height="75" />
    </div>
    <div id="pg-gameContainer">
      <div id="pg-lockContainer">
        <img src="{{ 'LockFilledMajor.svg' | asset_url }}" alt="Lock" id="pg-lock" width="20" height="100" />
      </div>
      <div id="pg-wordGameContainer">
        <img src="{{ 'wordgame.png' | asset_url }}" alt="Word Game" id="pg-wordGameImg" width="auto" height="95"/>
        <div id="pg-board"></div>
        <div id="pg-answer">Guess a word</div>
        <div id="pg-keyboard"></div>
      </div>
      <div id="pg-birdGameContainer">
        <img src="{{ 'birdgamepic.png' | asset_url }}" alt="Bird Game" id="pg-birdGameImg" width="100" height="100"/>
        <canvas id="pg-bird-board" width:"360px" height="450px"></canvas>
        <img src="{{ 'yellowbird-midflap.png' | asset_url }}" alt="Bird" id="pg-birdImg" width="34" height="24" />
        <img src="{{ 'pipe-green-down.png' | asset_url }}" alt="Top Pipe" id="pg-topPipeImg" width="64" height="360" />
        <img src="{{ 'pipe-green.png' | asset_url }}" alt="Bottom Pipe" id="pg-bottomPipeImg" width="64" height="360" />
      </div>
      <div id="pg-statsContainer">
        <p class="pg-title">Your Stats</p>
        <p id="pg-statsSubtitle">useremail@gmail.com</p>
        <div class="pg-stats-column-container">
          <div class="pg-column">
            <p>Score:</p>
            <p id="pg-score">4</p>
          </div>
          <div class="pg-column">
            <p>Avg:</p>
            <p id="pg-avg">3</p>
          </div>
          <div class="pg-column">
            <p>Best:</p>
            <p id="pg-best">2</p>
          </div>
        </div>
        <p class="pg-footer">Powered by PopGames</p>
      </div>
    </div>
  </div>
</div>
<div id="pg-popup-button" onclick="openPopUp()"
    style="background-color: {{ block.settings.pg_background_color }} !important;
    {% unless block.settings.enable_rainbow_animation %}
      border-color: {{ block.settings.pg_border_color }} !important;
    {% endunless %}"
>
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
    style="{% unless block.settings.enable_rainbow_animation %}
      fill: {{ block.settings.pg_border_color }} !important;
    {% endunless %}"
  >
    <path d="M11.5 7.5C12.0523 7.5 12.5 7.05228 12.5 6.5C12.5 5.94772 12.0523 5.5 11.5 5.5C10.9477 5.5 10.5 5.94772 10.5 6.5C10.5 7.05228 10.9477 7.5 11.5 7.5Z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.51692 4.09835C8.22018 3.39509 9.17401 3 10.1686 3H12.25C13.7688 3 15 4.23122 15 5.75V8.03854C15 8.9005 14.6576 9.72714 14.0481 10.3366L9.84184 14.5429C8.86553 15.5192 7.28262 15.5192 6.30631 14.5429L3.63389 11.8705C2.55995 10.7965 2.55994 9.05532 3.63389 7.98138L7.51692 4.09835ZM10.1686 4.5C9.57183 4.5 8.99954 4.73705 8.57758 5.15901L4.69455 9.04204C4.20639 9.5302 4.20639 10.3217 4.69455 10.8098L7.36697 13.4822C7.75749 13.8728 8.39066 13.8728 8.78118 13.4822L12.9874 9.27598C13.3156 8.94779 13.5 8.50267 13.5 8.03854V5.75C13.5 5.05965 12.9404 4.5 12.25 4.5H10.1686Z"/>
    <path d="M16.75 5.5C17.1642 5.5 17.5 5.83579 17.5 6.25V9.2786C17.5 10.1482 17.1515 10.9815 16.5325 11.5922L11.7767 16.2839C11.4819 16.5748 11.007 16.5716 10.7161 16.2767C10.4252 15.9819 10.4284 15.507 10.7233 15.2161L15.479 10.5244C15.8123 10.1956 16 9.74684 16 9.2786V6.25C16 5.83579 16.3358 5.5 16.75 5.5Z"/>
  </svg>
</div>

<style>
  .pg-background-color {
    background-color: {{ block.settings.pg_background_color }} !important;
  }

  .visually-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal!important;
  }
  
  @-webkit-keyframes rainbow {
    0% {border-color: hsl(0, 100%, 50%);}
    14% {border-color: hsl(30,100%,50%);}
    28% {border-color: hsl(60,100%,50%);}
    42% {border-color: hsl(120,100%,50%);}
    56% {border-color:  hsl(240,100%,50%);}
    70% {border-color: hsl(280,100%,50%);}
    84% {border-color: hsl(320,100%,50%);}
    100% {border-color: hsl(255, 100%, 50%);}
  }

    @-webkit-keyframes rainbowFill {
    0% {fill: hsl(0, 100%, 50%);}
    14% {fill: hsl(30,100%,50%);}
    28% {fill: hsl(60,100%,50%);}
    42% {fill: hsl(120,100%,50%);}
    56% {fill:  hsl(240,100%,50%);}
    70% {fill: hsl(280,100%,50%);}
    84% {fill: hsl(320,100%,50%);}
    100% {fill: hsl(255, 100%, 50%);}
  }

  @media (max-width: 768px) {
    #pg-popUp {
      flex-direction: column;
    }

    #pg-right-column {
      display: none;
      width: 350px;
    }

    #pg-left-column {
      height: 500px; 
      width: 350px;
      padding: 0px 0px 30x 0px;
      position: relative;
    }

    #pg-exitContainerMobile {
      display: flex;
    }

    #pg-discountContainer {
      margin-left: 1%;
    }

    #pg-discount-box {
      width: 200px;
      margin-left: 22%;
    }

    #pg-discount-terms {
      margin-left: 22%;
    }

    #pg-email-terms {
      margin-left: 0%;
    }

    #pg-wordGameContainer {
      display: none;
    }

    #pg-birdGameContainer {
      width: 350px;
    }

    #pg-wordGameImg {
      display: none;
    }

    #pg-lockContainer {
      display: none;
    }

  }

  canvas:empty {
    display: initial;
  }
</style>

{% schema %}
{
  "name": "Pop-up Game",
  "target": "body",
  "stylesheet": "pop-up.css",
  "javascript": "pop-up.js",
  "settings": [
    {
      "type": "color",
      "id": "pg_background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "pg_primary_text_color",
      "label": "Primary Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "pg_secondary_text_color",
      "label": "Secondary Text Color",
      "default": "#d2d2d2"
    },
    {
      "type": "color",
      "id": "pg_button_color",
      "label": "Button Color",
      "default": "#007bff"
    },
    {
      "type": "color",
      "id": "pg_button_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "pg_border_color",
      "label": "Border Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "pg_discount_box_color",
      "label": "Discount Box Color",
      "default": "#d2d2d2"
    },
    {
      "type": "range",
      "id": "pg_popup_delay",
      "label": "Popup Delay (Seconds)",
      "min": 1,
      "max": 30,
      "step": 1,
      "default": 10,
      "unit": "Sec"
    },
    {
      "type": "checkbox",
      "id": "show_special_mobile_buttons",
      "label": "Use Special Mobile Button Designs",
      "default": true,
      "info": "Mobile layout required at popup load time for buttons to display."
    },
    {
      "type": "checkbox",
      "id": "enable_rainbow_animation",
      "label": "Enable Rainbow Border Animation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pg_use_default_discount_box",
      "label": "Use Default Discount Box",
      "default": true
    }
  ]
}
{% endschema %}