<div id="pg-overlay"></div>
<div id="pg-popUp"
    {% unless block.settings.enable_rainbow_animation %}
      style="border-color: {{ block.settings.pg_border_color }} !important;"
    {% endunless %}
>
  <div id="pg-left-column" style="background-color: {{ block.settings.pg_background_color }} !important;">
    <div id="pg-exitContainerMobile" onclick="closePopUp()">
      <img src="{{ 'CancelMinor.svg' | asset_url }}" alt="Exit Button" id="pg-exitButtonMobile" width="30" height="30" />
      <img src="{{ 'CancelMinorHover.svg' | asset_url }}" alt="Exit Button" id="pg-exitButtonHoverMobile" width="30" height="30" />
    </div>
    <div id="pg-headerContainer">
      <text id="pg-headerText" style="color: {{ block.settings.pg_primary_text_color }} !important;">Get 10%, 20%, or 30% Off Your First Order</text>
    </div>
    <div id="pg-subheaderContainer">
      <text id="pg-subheaderText" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Play a game to discover your discount!</text>
    </div>
    <div id="pg-optOutContainer">
      <text id="pg-optOutText" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Or check the box to recieve 10% off now:&nbsp;</text>
      <input type="checkbox" id="pg-optOut" name="optOut" value="false">
    </div>
    <div id="pg-actionButtonContainer">
      <button type="button" onclick="actionButtonPressed()" id="pg-actionButton" style="background-color: {{ block.settings.pg_button_color }} !important; color: {{ block.settings.button_text_color }} !important;">Play</button>
      <button type="button" onclick="actionButtonPressed()" id="pg-imageButton" data-show="{{ block.settings.show_special_mobile_buttons }} !important"></button>
    </div>
    <form id="pg-emailForm">
      <label for="email" id="pg-emailEntryLabel" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Enter your email to claim:</label>
      <input type="email" id="pg-email" name="email" placeholder="Your email">
      <button type="button" onclick="validateAndProcessEmail()" id="pg-submitButton" style="background-color: {{ block.settings.pg_button_color }} !important; color: {{ block.settings.button_text_color }} !important;">Submit</button>
      <text id="pg-emailDenied">This email has already been used</text>
    </form>
    <div id="pg-imageContainer">
      <img src="{{ 'CircleTickOutline.svg' | asset_url }}" alt="Circle Tick" id="pg-circleTick" width="20" height="100" />
    </div>
    <div id="pg-discountPercentageContainer">
      <text id="pg-discountPercentage" style="color: {{ block.settings.pg_primary_text_color }} !important;">20% Off!</text>
    </div>
    <div id="pg-discountContainer" style="color: {{ block.settings.pg_secondary_text_color }} !important;">
      <text id="pg-discountText" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Redeem code:</text>
    </div>
    <div id="pg-discount-box" style="background-color: {{ block.settings.pg_button_color }} !important;"> 
      <text id="pg-discountCode" style="color: {{ block.settings.pg_primary_text_color }} !important;"></text>
      <img src="{{ 'ClipboardMinor.svg' | asset_url }}" alt="Clipboard" id="pg-copyButton" onclick="copyTextToClipboard()" width="10" height="75" />
      <img src="{{ 'CircleTickOutline.svg' | asset_url }}" alt="Circle Tick Small" id="pg-circleTickSmall" width="10" height="75" />
    </div>
    <div id="pg-discount-terms" style="color: {{ block.settings.pg_secondary_text_color }} !important;">Single use per customer</div>
    <div id="pg-email-terms" style="color: {{ block.settings.pg_secondary_text_color }} !important;">By submitting your email you agree to recieve email marketing updates for this store</div>
  </div>
  <div id="pg-right-column">
    <div id="pg-exitContainer" onclick="closePopUp()">
      <img src="{{ 'CancelMinor.svg' | asset_url }}" alt="Exit Button" id="pg-exitButton" width="75" height="75" />
      <img src="{{ 'CancelMinorHover.svg' | asset_url }}" alt="Exit Button" id="pg-exitButtonHover" width="75" height="75" />
    </div>
    <div id="pg-gameContainer">
      <div id="pg-lockContainer">
        <img src="{{ 'LockFilledMajor.svg' | asset_url }}" alt="Lock" id="pg-lock" width="20" height="100" />
      </div>
      <div id="pg-wordGameContainer">
        <img src="{{ 'wordgame.png' | asset_url }}" alt="Word Game" id="pg-wordGameImg" width="auto" height="95"/>
        <div id="pg-board"></div>
        <div id="pg-answer">Guess a word</div>
        <div id="pg-keyboard"></div>
      </div>
      <div id="pg-birdGameContainer">
        <img src="{{ 'birdgamepic.png' | asset_url }}" alt="Bird Game" id="pg-birdGameImg" width="100" height="100"/>
        <canvas id="pg-bird-board" width:"360px" height="450px"></canvas>
        <img src="{{ 'yellowbird-midflap.png' | asset_url }}" alt="Bird" id="pg-birdImg" width="34" height="24" />
        <img src="{{ 'pipe-green-down.png' | asset_url }}" alt="Top Pipe" id="pg-topPipeImg" width="64" height="360" />
        <img src="{{ 'pipe-green.png' | asset_url }}" alt="Bottom Pipe" id="pg-bottomPipeImg" width="64" height="360" />
      </div>
      <div id="pg-statsContainer">
        <p class="pg-title">Your Stats</p>
        <p id="pg-statsSubtitle">useremail@gmail.com</p>
        <div class="pg-stats-column-container">
          <div class="pg-column">
            <p>Score:</p>
            <p id="pg-score">4</p>
          </div>
          <div class="pg-column">
            <p>Avg:</p>
            <p id="pg-avg">3</p>
          </div>
          <div class="pg-column">
            <p>Best:</p>
            <p id="pg-best">2</p>
          </div>
        </div>
        <p class="pg-footer">Powered by PopGames</p>
      </div>
    </div>
  </div>
</div>

<style>
  .pg-background-color {
    background-color: {{ block.settings.pg_background_color }} !important;
  }

  .visually-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal!important;
  }
  
  @-webkit-keyframes rainbow {
    0% {border-color: hsl(0, 100%, 50%);}
    14% {border-color: hsl(30,100%,50%);}
    28% {border-color: hsl(60,100%,50%);}
    42% {border-color: hsl(120,100%,50%);}
    56% {border-color:  hsl(240,100%,50%);}
    70% {border-color: hsl(280,100%,50%);}
    84% {border-color: hsl(320,100%,50%);}
    100% {border-color: hsl(255, 100%, 50%);}
  }

  @media (max-width: 768px) {
    #pg-popUp {
      flex-direction: column;
    }

    #pg-right-column {
      display: none;
      width: 350px;
    }

    #pg-left-column {
      height: 500px; 
      width: 350px;
      padding: 0px 0px 30x 0px;
      position: relative;
    }

    #pg-exitContainerMobile {
      display: flex;
    }

    #pg-discountContainer {
      margin-left: 1%;
    }

    #pg-discount-box {
      width: 200px;
      margin-left: 22%;
    }

    #pg-discount-terms {
      margin-left: 22%;
    }

    #pg-email-terms {
      margin-left: 0%;
    }

    #pg-wordGameContainer {
      display: none;
    }

    #pg-birdGameContainer {
      width: 350px;
    }

    #pg-wordGameImg {
      display: none;
    }

    #pg-lockContainer {
      display: none;
    }

  }

  canvas:empty {
    display: initial;
  }
</style>

{% schema %}
{
  "name": "Pop-up Game",
  "target": "body",
  "stylesheet": "pop-up.css",
  "javascript": "pop-up.js",
  "settings": [
    {
      "type": "color",
      "id": "pg_background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "pg_primary_text_color",
      "label": "Primary Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "pg_secondary_text_color",
      "label": "Secondary Text Color",
      "default": "#d2d2d2"
    },
    {
      "type": "color",
      "id": "pg_button_color",
      "label": "Button Color",
      "default": "#007bff"
    },
    {
      "type": "color",
      "id": "pg_button_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "pg_border_color",
      "label": "Border Color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "show_special_mobile_buttons",
      "label": "Show Special Button Designs on Mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_rainbow_animation",
      "label": "Enable Rainbow Border Animation",
      "default": true
    }
  ]
}
{% endschema %}